<div class="footer-nav-area" id="footerNav">
    <div class="container px-0">
      <!-- Footer Content -->
        <div class="footer-nav position-relative">
            <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
                <li>
                    <a href="/">
                        <i class="bi bi-easel"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="/privacy">
                        <i class="bi bi-shield-shaded"></i>
                        <span>Privacy</span>
                    </a>
                </li>

                <li>
                    <a href="/terms">
                        <i class="bi bi-ui-checks"></i>
                        <span>Terms</span>
                    </a>
                </li>

                <li>
                    <a href="/contact">
                        <i class="bi bi-telephone-outbound"></i>
                        <span>Contact</span>
                    </a>
                </li>

                <li>
                    <a href="/settings">
                        <i class="bi bi-gear"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
      </div>
</div>
