<div class="offcanvas offcanvas-start" id="affanOffcanvas" data-bs-scroll="true" tabindex="-1"
    aria-labelledby="affanOffcanvsLabel">

    <button class="btn-close btn-close-white text-reset" type="button" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>

    <div class="offcanvas-body p-0">
      <div class="sidenav-wrapper">
        <!-- Sidenav Profile -->
        <div class="sidenav-profile bg-gradient">
          <div class="sidenav-style1"></div>

          <!-- User Thumbnail -->
          <div class="user-profile">
            <img src="/assets/img/2.webp" alt="Profile Image">
          </div>

          <!-- User Info -->
          <div class="user-info">
            <h6 class="user-name mb-0">Charl Cronje</h6>
            <span>Senior Full-Stack Web / Software Engineer</span>
          </div>
        </div>

        <ul class="sidenav-nav ps-0"></ul>

        <li>
          <a href="/about">
              <i class="bi bi-easel"></i>
              <span>About</span>
          </a>
        </li>

        <li>
            <a href="Privacy">
                <i class="bi bi-shield-shaded"></i>
                <span>Privacy</span>
            </a>
        </li>

        <li>
            <a href="/terms">
                <i class="bi bi-ui-checks"></i>
                <span>Terms</span>
            </a>
        </li>

        <li>
            <a href="/contact">
                <i class="bi bi-telephone-outbound"></i>
                <span>Contact</span>
            </a>
        </li>

        <li class="active">
            <a href="/settings">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
            </a>
        </li>

        <!-- Sidenav Nav -->
        
          
        <li>
          <div class="night-mode-nav">
            <i class="bi bi-moon"></i> Night Mode
            <div class="form-check form-switch">
              <input class="form-check-input form-check-success" id="darkSwitch" type="checkbox">
            </div>
          </div>
          </li>
            <li>
              <a href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </li>
          </ul>

          <!-- Copyright Info -->
          <div class="copyright-info">
            <p>
              <span id="copyrightYear"></span>
              &copy; Made by <a href="https://blog.cronje.me">webAlly</a>
            </p>
          </div>
        </div>
    </div>
  </div>
