<div id="setting-popup-overlay"></div>

<!-- Setting Popup Card -->
<div class="card setting-popup-card shadow-lg" id="settingCard">
  <div class="card-body">
    <div class="container">
      <div class="setting-heading d-flex align-items-center justify-content-between mb-3">
        <p class="mb-0">Settings</p>
        <div class="btn-close" id="settingCardClose"></div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="availabilityStatus" checked="">
          <label class="form-check-label" for="availabilityStatus">Availability status</label>
        </div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="sendMeNotifications" checked="">
          <label class="form-check-label" for="sendMeNotifications">Send me notifications</label>
        </div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="darkSwitch">
          <label class="form-check-label" for="darkSwitch">Dark mode</label>
        </div>
      </div>
    </div>
  </div>
</div>