
<!-- Dark mode switching -->
<div class="dark-mode-switching">
  <div class="d-flex w-100 h-100 align-items-center justify-content-center">
    <div class="dark-mode-text text-center">
      <i class="bi bi-moon"></i>
      <p class="mb-0">Switching to dark mode</p>
    </div>
    <div class="light-mode-text text-center">
      <i class="bi bi-brightness-high"></i>
      <p class="mb-0">Switching to light mode</p>
    </div>
  </div>
</div>


<!-- Header Area -->
<div class="header-area" id="headerArea">
  <div class="container">
    <!-- Header Content -->
    <div class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
      <!-- Back Button -->
      <div class="back-button">
        <a href="index.html">
          <i class="bi bi-arrow-left-short"></i>
        </a>
      </div>

      <!-- Page Title -->
      <div class="page-heading">
        <h6 class="mb-0">Page Not found</h6>
      </div>

      <!-- Navbar Toggler -->
      <div class="navbar--toggler" id="affanNavbarToggler" data-bs-toggle="offcanvas" data-bs-target="#affanOffcanvas" aria-controls="affanOffcanvas">
        <span class="d-block"></span>
        <span class="d-block"></span>
        <span class="d-block"></span>
      </div>
    </div>
  </div>
</div>

<!-- Page Content Wrapper -->
<div class="page-content-wrapper py-3">
  <div class="custom-container">
    <div class="card">
      <div class="card-body px-5 text-center">
        <img class="mb-4" src="./assets/img/39.webp" alt="">
        <h4>OOPS... <br> Page not found!</h4>
        <p class="mb-4">We couldn't find any results for your search. Try again.</p>
        <a class="btn btn-creative btn-danger" href="index.html">Go to Home</a>
      </div>
    </div>
  </div>
</div>