<div class="page-content-wrapper py-3">
    <div class="container">
      <!-- Accordion Card -->
      <div class="card bg-primary rounded-0 rounded-top">
        <div class="card-body text-center py-3">
          <h6 class="mb-0 text-white line-height-1">For Buyers</h6>
        </div>
      </div>

      <div class="card mb-3 rounded-0 rounded-bottom">
        <div class="card-body">
          <div class="accordion accordion-flush accordion-style-two" id="accordionStyle2">
            <!-- Single Accordion -->
            <div class="accordion-item">
              <div class="accordion-header" id="accordionFour">
                <h6 data-bs-toggle="collapse" data-bs-target="#accordionStyleFour" aria-expanded="true" aria-controls="accordionStyleFour">
                  <i class="bi bi-plus-lg"></i> What is refund policy?
                </h6>
              </div>
              <div class="accordion-collapse collapse show" id="accordionStyleFour" aria-labelledby="accordionFour" data-bs-parent="#accordionStyle2">
                <div class="accordion-body">
                  <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, velit?</p>
                </div>
              </div>
            </div>

            <!-- Single Accordion -->
            <div class="accordion-item">
              <div class="accordion-header" id="accordionFive">
                <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyleFive" aria-expanded="false" aria-controls="accordionStyleFive">
                  <i class="bi bi-plus-lg"></i> Can it accept Paypal?
                </h6>
              </div>
              <div class="accordion-collapse collapse" id="accordionStyleFive" aria-labelledby="accordionFive" data-bs-parent="#accordionStyle2">
                <div class="accordion-body">
                  <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, a cupiditate.</p>
                </div>
              </div>
            </div>

            <!-- Single Accordion -->
            <div class="accordion-item">
              <div class="accordion-header" id="accordionSix">
                <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyleSix" aria-expanded="false" aria-controls="accordionStyleSix">
                  <i class="bi bi-plus-lg"></i> What is PWA ready?
                </h6>
              </div>
              <div class="accordion-collapse collapse" id="accordionStyleSix" aria-labelledby="accordionSix" data-bs-parent="#accordionStyle2">
                <div class="accordion-body">
                  <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, a cupiditate.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Accordion Card -->
      <div class="card bg-danger rounded-0 rounded-top">
        <div class="card-body text-center py-3">
          <h6 class="mb-0 text-white line-height-1">For Authors</h6>
        </div>
      </div>

      <div class="card rounded-0 rounded-bottom">
        <div class="card-body">
          <div class="accordion accordion-flush accordion-style-two" id="accordionStyle22">
            <!-- Single Accordion -->
            <div class="accordion-item">
              <div class="accordion-header" id="accordionFour2">
                <h6 data-bs-toggle="collapse" data-bs-target="#accordionStyleFour2" aria-expanded="true" aria-controls="accordionStyleFour2">
                  <i class="bi bi-plus-lg"></i> Need content for question 1 under example section 3
                </h6>
              </div>
              <div class="accordion-collapse collapse show" id="accordionStyleFour2" aria-labelledby="accordionFour2" data-bs-parent="#accordionStyle22">
                <div class="accordion-body">
                  <p class="mb-0">Need content for answer 1 under example section 3</p>
                </div>
              </div>
            </div>

            <!-- Single Accordion -->
            <div class="accordion-item">
              <div class="accordion-header" id="accordionFive2">
                <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyleFive2" aria-expanded="false" aria-controls="accordionStyleFive2">
                  <i class="bi bi-plus-lg"></i> Need content for question 2 under example section 3
                </h6>
              </div>
              <div class="accordion-collapse collapse" id="accordionStyleFive2" aria-labelledby="accordionFive2" data-bs-parent="#accordionStyle22">
                <div class="accordion-body">
                  <p class="mb-0">Need content for answer 2 under example section 3</p>
                </div>
              </div>
            </div>

            <!-- Single Accordion -->
            <div class="accordion-item">
              <div class="accordion-header" id="accordionSix3">
                <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyleSix3" aria-expanded="false" aria-controls="accordionStyleSix3">
                  <i class="bi bi-plus-lg"></i> What is PWA ready?
                </h6>
              </div>
              <div class="accordion-collapse collapse" id="accordionStyleSix3" aria-labelledby="accordionSix3" data-bs-parent="#accordionStyle22">
                <div class="accordion-body">
                  <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, a cupiditate.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>