<!-- Wrapper -->
<div class="login-wrapper d-flex align-items-center justify-content-center text-center">
  <div class="custom-container">
    <div class="text-center px-2">
      <img class="login-intro-img mb-4" src="/assets/img/38.webp" alt="">
      
      <!-- Reset Password Message -->
      <p class="mb-4">Ooops! Your entered email is wrong. Please enter your correct email address again.</p>
      
      <!-- Go Back Button -->
      <a class="btn btn-danger" href="/forgotPassword">Try Again</a>
    </div>
  </div>
</div>