<div class="page-content-wrapper">

  <!-- Welcome Toast -->
  <div class="toast toast-autohide custom-toast-1 toast-success home-page-toast" role="alert" data-bs-delay="7000" data-bs-autohide="true">
    <div class="toast-body">
      <i class="bi bi-bookmark-check text-white h1 mb-0"></i>
      <div class="toast-text ms-3 me-2">
        <p class="mb-1 text-white">Welcome to The Precious Journey</p>
        <small class="d-block">Click the <strong>Add to Home Screen</strong> button &amp; to install this as an
          app.</small>
      </div>
    </div>
    <button class="btn btn-close btn-close-white position-absolute p-1" type="button" data-bs-dismiss="toast"></button>
  </div>

  <!-- Tiny Slider One Wrapper -->
  <div class="tiny-slider-one-wrapper">
    <div class="tiny-slider-one">
      <!-- Single Hero Slide -->
      <div>
        <div class="single-hero-slide bg-overlay" style="background-image: url('/assets/img/slider/1.webp')">
          <div class="h-100 d-flex align-items-center text-center">
            <div class="container">
              <h3 class="text-white mb-1"></h3>
              <p class="text-white mb-4">Welcome friends to the Precious Journey.</p>
              <a class="btn btn-creative btn-warning" href="#">Register Now</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Hero Slide -->
      <div>
        <div class="single-hero-slide bg-overlay" style="background-image: url('/assets/img/slider/2.webp')">
          <div class="h-100 d-flex align-items-center text-center">
            <div class="container">
              <h3 class="text-white mb-1">Come join us</h3>
              <p class="text-white mb-4">There are exciting gemstone to be discovered along this Journey</p>
              <a class="btn btn-creative btn-warning" href="#">Register Now</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Hero Slide -->
      <div>
        <div class="single-hero-slide bg-overlay" style="background-image: url('/assets/img/slider/3.webp')">
          <div class="h-100 d-flex align-items-center text-center">
            <div class="container">
              <h3 class="text-white mb-1">Tiger-Eye</h3>
              <p class="text-white mb-4">We will go mine for tiger-eye in Spain</p>
              <a class="btn btn-creative btn-warning" href="#">Register Now</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Hero Slide -->
      <div>
        <div class="single-hero-slide bg-overlay" style="background-image: url('/assets/img/slider/4.webp')">
          <div class="h-100 d-flex align-items-center text-center">
            <div class="container">
              <h3 class="text-white mb-1">Topaz</h3>
              <p class="text-white mb-4">Topaz in Brazil, This exciting journey will be filled with riddles</p>
              <a class="btn btn-creative btn-warning" href="#">Register Now</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Hero Slide -->
      <div>
        <div class="single-hero-slide bg-overlay" style="background-image: url('/assets/img/slider/5.webp')">
          <div class="h-100 d-flex align-items-center text-center">
            <div class="container">
              <h3 class="text-white mb-1">Ruby</h3>
              <p class="text-white mb-4">Ruby's from Asia, the rewards are incredible</p>
              <a class="btn btn-creative btn-warning" href="#">Register Now</a>
            </div>
          </div>
        </div>
      </div>

        <!-- Single Hero Slide -->
        <div>
        <div class="single-hero-slide bg-overlay" style="background-image: url('/assets/img/slider/6.webp')">
          <div class="h-100 d-flex align-items-center text-center">
            <div class="container">
              <h3 class="text-white mb-1">Emeralds</h3>
              <p class="text-white mb-4">Emeralds from Australia</p>
              <a class="btn btn-creative btn-warning" href="#">Register Now</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Single Hero Slide -->
      <div>
        <div class="single-hero-slide bg-overlay" style="background-image: url('/assets/img/slider/7.webp')">
          <div class="h-100 d-flex align-items-center text-center">
            <div class="container">
              <h3 class="text-white mb-1">Sapphire</h3>
              <p class="text-white mb-4">Sapphire from the United States</p>
              <a class="btn btn-creative btn-warning" href="#">Register Now</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Hero Slide -->
      <div>
        <div class="single-hero-slide bg-overlay" style="background-image: url('/assets/img/slider/8.webp')">
          <div class="h-100 d-flex align-items-center text-center">
            <div class="container">
              <h3 class="text-white mb-1">Diamonds</h3>
              <p class="text-white mb-4">The final stretch will be in South Africa were you'll find diamonds</p>
              <a class="btn btn-creative btn-warning" href="#">Register Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top:-30px; padding-left: 15px; padding-right: 15px; padding-bottom: 90px">
  <div class="row">
    <div class="col">
      <h3>Precious Journey</h3>

      <p>You've heard about the steps you need to take to live your best life. We are going to show you how.</p>
    
      <p>This might be one of the most important messages you read in your life. It's the secret sauce that successful people know, and if you're looking for an answer to a question like, "How do I generate passive income?" then we are going to tell you right now — this is it.</p>
    
      <p>An automated system that could generate income for you.</p>
    
      <p>We will show you step-by-step how to achieve your dreams and live your best life right now.</p>
    
      <p>Freedom from a 9-5 job and/or more time with family/friends.</p>
    
      <p>Start reading this article and learn how to turn your online business into a revenue-generating opportunity that can pay off in any economy!</p>

      Start your precious journey now

      <div class="row" style="clear:both; margin-top:15px">
        <div class="btn-group" role="group">
          <a href="/register" class="btn btn-primary">Register</a>  
          <a href="/login" class="btn btn-success">Login</a>  
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position: static !important;"></div>