
<!-- Setting Popup Card -->
<div class="card setting-popup-card shadow-lg" id="settingCard">
  <div class="card-body">
    <div class="container">
      <div class="setting-heading d-flex align-items-center justify-content-between mb-3">
        <p class="mb-0">Settings</p>
        <div class="btn-close" id="settingCardClose"></div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="availabilityStatus" checked="">
          <label class="form-check-label" for="availabilityStatus">Availability status</label>
        </div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="sendMeNotifications" checked="">
          <label class="form-check-label" for="sendMeNotifications">Send me notifications</label>
        </div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="darkSwitch">
          <label class="form-check-label" for="darkSwitch">Dark mode</label>
        </div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="rtlSwitch">
          <label class="form-check-label" for="rtlSwitch">RTL mode</label>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page Content Wrapper -->
<div class="page-content-wrapper py-3">
  <div class="container">
    <div class="card">
      <div class="card-body direction-rtl">
        <p>New comment on "Affan - PWA Mobile HTML5 Template" from designing world.</p>
        <div class="border-bottom border-top py-4">
          <p class="lead">"Good job! Waiting for admin dashboard too!"</p>
          <a class="btn btn-primary btn-sm" href="https://themeforest.net/item/affan-pwa-mobile-html-template/29715548/comments">View the comment</a>
        </div>
        <p class="mb-0 fz-12 mt-4">
          <i class="bi bi-clock mx-1"></i>
          12 Dec 2022 12:36 AM
        </p>
      </div>
    </div>
  </div>
</div>