

<!-- Setting Popup Overlay -->
<div id="setting-popup-overlay"></div>

<!-- Setting Popup Card -->
<div class="card setting-popup-card shadow-lg" id="settingCard">
  <div class="card-body">
    <div class="container">
      <div class="setting-heading d-flex align-items-center justify-content-between mb-3">
        <p class="mb-0">Settings</p>
        <div class="btn-close" id="settingCardClose"></div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="availabilityStatus" checked="">
          <label class="form-check-label" for="availabilityStatus">Availability status</label>
        </div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="sendMeNotifications" checked="">
          <label class="form-check-label" for="sendMeNotifications">Send me notifications</label>
        </div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="darkSwitch">
          <label class="form-check-label" for="darkSwitch">Dark mode</label>
        </div>
      </div>

      <div class="single-setting-panel">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="rtlSwitch">
          <label class="form-check-label" for="rtlSwitch">RTL mode</label>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header Area -->
<div class="header-area" id="headerArea">
  <div class="container">
    <!-- Paste your Header Content from here -->
    <!-- Header Content -->
    <div class="header-content position-relative d-flex align-items-center justify-content-between">
      <!-- Back Button -->
      <div class="back-button">
        <a href="https://designing-world.com/affan-1.5/pages.html">
          <i class="bi bi-arrow-left-short"></i>
        </a>
      </div>

      <!-- Page Title -->
      <div class="page-heading">
        <h6 class="mb-0">Notifications</h6>
      </div>

      <!-- Settings -->
      <div class="setting-wrapper">
        <div class="setting-trigger-btn" id="settingTriggerBtn">
          <i class="bi bi-gear"></i>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page Content Wrapper -->
<div class="page-content-wrapper py-3">
  <!-- Notifications Area -->
  <div class="notification-area">
    <div class="container">
      <!-- Single Notification -->
      <a href="https://designing-world.com/affan-1.5/page-notification-details.html">
        <div class="alert unread custom-alert-3 alert-primary" role="alert">
          <i class="bi bi-chat-dots mt-0"></i>
          <div class="alert-text w-75">
            <h6 class="text-truncate">New comment on your template</h6>
            <span class="text-truncate">New comment on
              "Affan - PWA Mobile HTML5 Template" from designing world</span>
          </div>
        </div>
      </a>

      <!-- Single Notification -->
      <a href="https://designing-world.com/affan-1.5/page-notification-details.html">
        <div class="alert unread custom-alert-3 alert-primary" role="alert">
          <i class="bi bi-star mt-0"></i>
          <div class="alert-text w-75">
            <h6 class="text-truncate">A new rating has been received</h6>
            <span class="text-truncate">A new rating has
              been received for Saasbox - Bootstrap 5 Multipurpose HTML Template for Saas &amp; Agency</span>
          </div>
        </div>
      </a>

      <!-- Single Notification -->
      <a href="https://designing-world.com/affan-1.5/page-notification-details.html">
        <div class="alert unread custom-alert-3 alert-primary" role="alert">
          <i class="bi bi-check2-circle mt-0"></i>
          <div class="alert-text w-75">
            <h6 class="text-truncate">You sold an item!</h6>
            <span class="text-truncate">Congratulations! You sold a
              Single License for Affan.</span>
          </div>
        </div>
      </a>

      <!-- Single Notification -->
      <a href="https://designing-world.com/affan-1.5/page-notification-details.html">
        <div class="alert custom-alert-3 alert-primary" role="alert">
          <i class="bi bi-chat-dots mt-0"></i>
          <div class="alert-text w-75">
            <h6 class="text-truncate">New comment on your template</h6>
            <span class="text-truncate">New comment on
              "Affan - PWA Mobile HTML5 Template" from designing world</span>
          </div>
        </div>
      </a>

      <!-- Single Notification -->
      <a href="https://designing-world.com/affan-1.5/page-notification-details.html">
        <div class="alert custom-alert-3 alert-primary" role="alert">
          <i class="bi bi-star mt-0"></i>
          <div class="alert-text w-75">
            <h6 class="text-truncate">A new rating has been received</h6>
            <span class="text-truncate">A new rating has
              been received for Saasbox - Bootstrap 5 Multipurpose HTML Template for Saas &amp; Agency</span>
          </div>
        </div>
      </a>

      <!-- Single Notification -->
      <a href="https://designing-world.com/affan-1.5/page-notification-details.html">
        <div class="alert custom-alert-3 alert-primary" role="alert">
          <i class="bi bi-check2-circle mt-0"></i>
          <div class="alert-text w-75">
            <h6 class="text-truncate">You sold an item!</h6>
            <span class="text-truncate">Congratulations! You sold a
              Single License for Affan.</span>
          </div>
        </div>
      </a>

      <!-- Single Notification -->
      <a href="https://designing-world.com/affan-1.5/page-notification-details.html">
        <div class="alert custom-alert-3 alert-primary" role="alert">
          <i class="bi bi-chat-dots mt-0"></i>
          <div class="alert-text w-75">
            <h6 class="text-truncate">New comment on your template</h6>
            <span class="text-truncate">New comment on
              "Affan - PWA Mobile HTML5 Template" from designing world</span>
          </div>
        </div>
      </a>

      <!-- Single Notification -->
      <a href="https://designing-world.com/affan-1.5/page-notification-details.html">
        <div class="alert custom-alert-3 alert-primary" role="alert">
          <i class="bi bi-star mt-0"></i>
          <div class="alert-text w-75">
            <h6 class="text-truncate">A new rating has been received</h6>
            <span class="text-truncate">A new rating has
              been received for Saasbox - Bootstrap 5 Multipurpose HTML Template for Saas &amp; Agency</span>
          </div>
        </div>
      </a>

      <!-- Single Notification -->
      <a href="https://designing-world.com/affan-1.5/page-notification-details.html">
        <div class="alert custom-alert-3 alert-primary" role="alert">
          <i class="bi bi-check2-circle mt-0"></i>
          <div class="alert-text w-75">
            <h6 class="text-truncate">You sold an item!</h6>
            <span class="text-truncate">Congratulations! You sold a
              Single License for Apland.</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
