
  <!-- Video Calling Popup -->
  <div class="video-calling-popup-wrap" id="videoCallingPopup">
    <div class="video-calling-popup-body bg-overlay" style="background-image: url(&#39;img/bg-img/2.webp&#39;)">
      <!-- User Thumbnail -->
      <div class="user-thumbnail mb-3">
        <img src="/assets/img/2.webp" alt="">
      </div>

      <!-- Video Icon -->
      <div class="video-icon d-block mb-1">
        <i class="bi bi-camera-video text-white"></i>
      </div>

      <h6 class="mb-5 text-white">Affan is video calling...</h6>

      <!-- Button Group -->
      <div class="button-group">
        <a class="btn btn-lg btn-danger btn-round me-3" id="videoCallDecline" href="/pageChat">Decline</a>
        <a class="btn btn-lg btn-success btn-round ms-3" href="/pageVideoCall">Accept</a>
      </div>
    </div>
  </div>

  <!-- Calling Popup -->
  <div class="calling-popup-wrap" id="callingPopup">
    <div class="calling-popup-body bg-primary">
      <!-- User Thumbnail -->
      <div class="user-thumbnail mb-3">
        <img src="/assets/img/2.webp" alt="">
      </div>

      <!-- Call Icon -->
      <div class="call-icon d-block mb-2">
        <i class="bi bi-telephone text-white"></i>
      </div>

      <h6 class="mb-5 text-white">Affan is calling...</h6>

      <!-- Button Group -->
      <div class="button-group">
        <a class="btn btn-lg btn-danger btn-round me-2" id="callDecline" href="/pageChat">Decline</a>
        <a class="btn btn-lg btn-success btn-round ms-2" href="/pageChat">Accept</a>
      </div>
    </div>
  </div>

  <div class="page-content-wrapper py-3" id="chat-wrapper">
    <div class="container">
      <div class="chat-content-wrap">
        <!-- Single Chat Item -->
        <div class="single-chat-item">

          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username.-->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/2.webp" alt="">
          </div>

          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <p>Hello, Are you there?</p>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <!-- Time and Status -->
            <div class="message-time-status">
              <div class="sent-time">11:39 AM</div>
            </div>
          </div>
        </div>

        <!-- Single Chat Item -->
        <div class="single-chat-item outgoing">
          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username. -->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/user3.webp" alt="">
          </div>
          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <p>Yes, How can I help you?</p>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <!-- Time and Status -->
            <div class="message-time-status">
              <div class="sent-time">11:46 AM</div>
              <div class="sent-status seen">
                <i class="bi bi-check"></i>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Chat Item -->
        <div class="single-chat-item">
          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username. -->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/2.webp" alt="">
          </div>

          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <p>I want to buy your Affan template.</p>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <div class="message-content">
              <div class="single-message">
                <p>The Precious Journey</p>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <!-- Time and Status -->
            <div class="message-time-status">
              <div class="sent-time">11:46 AM</div>
            </div>
          </div>
        </div>

        <!-- Single Chat Item -->
        <div class="single-chat-item outgoing">
          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username. -->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/user3.webp" alt="">
          </div>
          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <div class="gallery-img">
                  <a href="/assets/img/30.webp">
                    <img src="/assets/img/30.webp" alt="">
                  </a>
                </div>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <!-- Time and Status -->
            <div class="message-time-status">
              <div class="sent-time">11:39 AM</div>
              <div class="sent-status seen">
                <i class="bi bi-check"></i>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Chat Item -->
        <div class="single-chat-item">
          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username. -->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/2.webp" alt="">
          </div>
          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <p>Would you please provide a purchase link?</p>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <!-- Time and Status -->
            <div class="message-time-status">
              <div class="sent-time">11:39 AM</div>
            </div>
          </div>
        </div>

        <!-- Single Chat Item -->
        <div class="single-chat-item outgoing">
          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username. -->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/user3.webp" alt="">
          </div>
          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <p>Sure, Here are the purchase link. Please click the purchase now button, then fill up your all payment
                  info.</p>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <div class="message-content">
              <div class="single-message">
                <a class="btn btn-success btn-round" href="/" target="_blank">Call Now</a>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <!-- Time and Status -->
            <div class="message-time-status">
              <div class="sent-time">11:46 AM</div>
              <div class="sent-status seen">
                <i class="bi bi-check"></i>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Chat Item -->
        <div class="single-chat-item">
          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username. -->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/2.webp" alt="">
          </div>
          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <p>Thanks!</p>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <!-- Time and Status -->
            <div class="message-time-status">
              <div class="sent-time">11:39 AM</div>
            </div>
          </div>
        </div>

        <!-- Single Chat Item -->
        <div class="single-chat-item">
          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username. -->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/2.webp" alt="">
          </div>

          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <div class="download-file-wrap d-flex align-items-center">
                  <div class="download-avatar bg-light">
                    <div class="dl-icon">
                      <i class="bi bi-file-earmark-zip-fill"></i>
                    </div>
                    <a class="download-btn" href="/pageChat">
                      <i class="bi bi-download"></i>
                    </a>
                  </div>
                  <div class="download-file-info">
                    <div class="file-name text-truncate">app-release-signed.apk</div>
                    <div class="file-size">1.39 MB</div>
                  </div>
                </div>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <!-- Time and Status -->
            <div class="message-time-status">
              <div class="sent-time">11:39 AM</div>
            </div>
          </div>
        </div>

        <!-- Single Chat Item -->
        <div class="single-chat-item outgoing">
          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username. -->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/user3.webp" alt="">
          </div>
          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <p>You are welcome 😍</p>
              </div>

              <!-- Options -->
              <div class="dropstart">
                <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/pageChat"><i class="bi bi-reply"></i>Reply</a></li>
                  <li><a href="/pageChat"><i class="bi bi-forward"></i>Forward</a></li>
                  <li><a href="/pageChat"><i class="bi bi-trash"></i>Remove</a></li>
                </ul>
              </div>
            </div>
            <!-- Time and Status -->
            <div class="message-time-status">
              <div class="sent-time">11:46 AM</div>
              <div class="sent-status delivered">
                <i class="bi bi-check"></i>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Chat Item -->
        <div class="single-chat-item">
          <!-- User Avatar -->
          <div class="user-avatar mt-1">
            <!-- If the user avatar isn't available, will visible the first letter of the username. -->
            <span class="name-first-letter">A</span>
            <img src="/assets/img/2.webp" alt="">
          </div>

          <!-- User Message -->
          <div class="user-message">
            <div class="message-content">
              <div class="single-message">
                <div class="typing">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="chat-footer">
    <div class="container h-100">
      <div class="chat-footer-content h-100 d-flex align-items-center">
        <form action="/pageChat">
          <!-- Message -->
          <input class="form-control" type="text" placeholder="Type here...">

          <!-- Emoji -->
          <button class="btn btn-emoji mx-2" type="button">
            <i class="bi bi-emoji-smile"></i>
          </button>

          <!-- Add File -->
          <div class="dropup me-2">
            <button class="btn btn-add-file dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-plus-circle"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/pageChat"><i class="bi bi-files"></i>Files</a></li>
              <li><a href="/pageChat"><i class="bi bi-mic"></i>Audio</a></li>
              <li><a href="/pageChat"><i class="bi bi-file-earmark"></i>Document</a></li>
              <li><a href="/pageChat"><i class="bi bi-file-bar-graph"></i>Pull</a></li>
              <li><a href="/pageChat"><i class="bi bi-geo-alt"></i>Location</a></li>
            </ul>
          </div>

          <!-- Send -->
          <button class="btn btn-submit" type="submit">
            <i class="bi bi-cursor"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
