<div class="page-content-wrapper py-3">
  <div class="container">
    <div class="card">
      <div class="card-body">
      <h3>Rules and Regulations</h3>
      <div style="margin-bottom:20px">
        become a participating member of The Precious Journey you have to acknowledge that you have read the terms documents
      </div>
      <div class="row">
        <iframe sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads allow-modals" frameborder="0" aria-label="Drive, A - RULES and REGULATIONS.pdf" allowfullscreen="true" style="height: calc(100vh - 320px);" src="https://drive.google.com/file/d/1jsLZNVirjdG9sdtAkcNCAWbRP-0Lf-ba/preview"></iframe>
      </div>
    </div>
  </div>
</div>
<div style="position: static !important;"></div>